@use '../abstracts/' as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: $background-color;
}

h1, h2 {
  color: $title-color;
}

p {
  color: $text-color ;
}

fieldset {
  border: none;
}