$background-color: hsl(216, 12%, 8%);
$cardBackground-color: hsl(215,20%,16%);
$circle-color: hsl(214, 15%, 23%);
$hover-circle-color: hsl(217, 12%, 63%);
$text-color:  hsl(217, 12%, 63%);
$title-color: hsl(0, 0%, 100%);
$primary-color: hsl(25, 97%, 53%);